.header{
	font-size: 2em;
	text-align: center;
}

.employees-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.employee{
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	padding: 0.25em;
	background-color: white;
	display: flex;
	align-items: center;
}

.employee .name{
	font-size: 1.1em;
	margin: 0;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.employee img{
	display: inline-block;
	height: 3em;
	width: 3em;
	margin-right: 0.5em;
}

.employee .points{
	margin-left: auto;
	margin-right: 0.5em;
	font-family: Consolas;
	font-size: 2em;
	color: #36aee6;
}

.municipalities{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	/* border-bottom: 1px solid #DDD; */
}
.municipalities > *{
	/* width: 24.5%;
	margin: 0.25%; */
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: stretch;
	padding: 0;
}
.municipalities:not(.form) li{
	padding: 0.25em;
	display: inline-flex;
	align-items: center;
}

.municipalites > li .name{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1.1em;
}

.municipalities > li .icon{
	color: white;
	height: 1.75em;
	width: 1.75em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.5em;
	font-size: 1.75em;
}

.municipalities > li .points{
	margin-left: auto;
	margin-right: 0.5em;
	font-family: Consolas;
	font-size: 2em;
	color: #36aee6;
}
